@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
@theme{
  --font-orbitron: "Orbitron", sans-serif;
}
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black; /* Prevent both scrolls */
}
